.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 4px;
  border: 1px solid var(--border);
  border-radius: 4px;
  background: var(--bg);
  color: var(--fg);
  cursor: pointer;
  transition: all 0.2s ease;
  outline: none;
}

.icon-button:focus {
  outline: none;
}

.icon-button:hover {
  background: var(--hover);
}

.icon-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.icon-button.save-button {
  color: #22c55e;
  border-color: #22c55e;
}

.icon-button.save-button:hover {
  background: #22c55e;
  color: white;
}

.icon-button.clear-button {
  color: #e33;
  border-color: #e33;
}

.icon-button.clear-button:hover {
  background: #e33;
  color: white;
}

.icon-button.theme-button {
  color: #f59e0b;
  border-color: #f59e0b;   
  background: rgb(62, 51, 26);
}

.icon-button.theme-button:hover {
  background: #f59e0b;
  color: white;
}

/* Dark mode specific styles */
[data-theme='dark'] .icon-button.theme-button {
  color: #f59e0b;
  border-color: #f59e0b;
}

[data-theme='dark'] .icon-button.theme-button:hover {
  background: #f59e0b;
  color: white;
}

/* Light mode specific styles */
[data-theme='light'] .icon-button.theme-button {
  color: #fff;
  border-color: #1e293b;
  background: #334155;
}

[data-theme='light'] .icon-button.theme-button:hover {
  background: #1e293b;
  color: white;
}

.icon-button svg {
  width: 20px;
  height: 20px;
}

.icon-button.info-button {
  color: #3b82f6;
  border-color: #3b82f6;
}

.icon-button.info-button:hover {
  background: #3b82f6;
  color: white;
} 